<% provide(:title, 'About') %>
<% if signed_in? %>
   <div class="center">
      <h1>About</h1>
      <p>
         About coming soon
      </p>
   </div>
<% else %>
   <div class="center">
      <h1>About</h1>
      <p>
         About coming soon
      </p>
   </div>
<% end %>
