<%= provide(:title, "Edit user") %>
<div class="span6 offset2">
   <h1>Change your information</h1>
   <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      </div>
   <% end %>
</div>