<% provide(:title, 'All users') %>
<aside class="span9 offset1">
   <h1>All users</h1>
   <section>
      <%= will_paginate %>
         <ul class="users">
            <%= render @users %>
         </ul>
      <%= will_paginate %>
   </section>
</aside>