<% provide(:title, 'Sign up') %>
<div class="span6 offset2">
   <h1>Sign up</h1>
   <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </div>
   <% end %>
</div>
