<div class="stats">
   <a href="<%= followers_rushee_path(@rushee) %>">
      <strong id="followers" class="stat">
         <%= @rushee.followers.count %>
      </strong>
      followers
   </a>
</div>