<% if signed_in? %>
   <section>
      <h1>Top <%= all_rushees.count %></h1>
      <ul class="rushee_sidebar">
         <% rushees = all_rushees %>
         <% rushees.each do |rushee| %>
            <li>
               <%= link_to "#{rushee.first_name} #{rushee.last_name}, #{rushee.score.score}", rushee %>
            </li>
         <% end %>
      </ul>
   </section>
<% else %>
Placeholder text
<% end %>